<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 1st -->
    <div style="width: 100%; ">
        <div style="width: 600px; margin: auto; margin-block: 20px; box-shadow: inset 0 4px 0 0 #007191; border-radius: 5px;">
            <table style="width: 100%; margin: auto;" cellpadding="12"
                cellspacing="0">
                <tbody>
                    <tr>
                        <td><h3 style="color: grey; margin-bottom: 0%;">Tuesday, 30 November 2021</h3></td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center;">
                            <h4 style="color: grey; margin: 0%;">Morning</h4>
                            <!-- <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px;">7:00am</button> -->
                        </td>
                        <td style="width: 50%; text-align: center;">
                            <h4 style="color: grey; margin: 0%;">Afternoon</h4>
                            <!-- <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px;">12:00pm</button> -->
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center; padding-top: 0%;">
                            <!-- <h4 style="color: grey; margin: 0%;">Morning</h4> -->
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">7:00am</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">7:00am</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">7:00am</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">7:00am</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">7:00am</button>
                        </td>
                        <td style="width: 50%; text-align: center; padding-top: 0%;">
                            <!-- <h4 style="color: grey; margin: 0%;">Afternoon</h4> -->
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">12:00pm</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">12:00pm</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">12:00pm</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">12:00pm</button>
                            <button style="width: 100%; background-color: #007191; color: white; border-radius: 4px; outline: none; border: none; padding: 8px; margin: 5px; cursor: pointer;">12:00pm</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  
</body>

</html>